<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="JavaSeleniumTest" parallel="classes">
    <classes>
      <class name=".IEJavaSelenium"/>
      <class name=".ChromeJavaSelenium"/>
      <class name=".EdgeJavaSelenium"/>
      <class name=".FirefoxJavaSelenium"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
